body {
    background: #073642;
    color : #fdf6e3;
    line-height : 1.3em;
}

a {
    text-decoration: none;
}

a:link {
    color : #6c71c4;
}

a:link:hover {
    text-decoration : underline;
}

.incoming {
    color : #93a1a1;
}

.outgoing {
    color : #eee8d5;
}

input {
    border : 2px solid #fdf6e3;
}

.incoming .sender {
    color : #2aa198;
}

.outgoing .sender {
    color : #d33682;
}

.time {
    color : #268bd2;
}

.status {
    padding : 1em;
    color : #b58900;
    text-transform : uppercase;
}

.deco {
	color : #b58900;
    text-shadow: 0px 0px 15px #9BFF00;
}

/* $base03:    #002b36; */
/* $base02:    #073642; */
/* $base01:    #586e75; */
/* $base00:    #657b83; */
/* $base0:     #839496; */
/* $base1:     #93a1a1; */
/* $base2:     #eee8d5; */
/* $base3:     #fdf6e3; */
/* $yellow:    #b58900; */
/* $orange:    #cb4b16; */
/* $red:       #dc322f; */
/* $magenta:   #d33682; */
/* $violet:    #6c71c4; */
/* $blue:      #268bd2; */
/* $cyan:      #2aa198; */
/* $green:     #859900; */
